@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  line-height: 1.2;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Raleway, sans-serif;
}

a, body a:hover {
  text-decoration: none;
  color: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: none;
}

input {
  padding: 0;
  /* шрифт унаследуется у body */
  font: inherit;
  border: none;
  margin: 0;
  background-color: transparent;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

i {
  font-style: normal;
}

img {
  max-width: 100%;
  display: block;
}

.btn-grey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background: #D9D9D9;
  height: 39px;
  color: #333333;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
  min-width: 104px;
}
.btn-grey_mob-nav {
  width: 100%;
  /* max-width: 153px; */
  min-width: unset;
}

.btn-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background: #BED730;
  height: 39px;
  min-width: 154px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 800;
  font-size: 10px;
}
.btn-green_mob-nav {
  width: 100%;
  /* max-width: 153px; */
  min-width: unset;
}

/* Скрытие элементов */
@media (max-width: 767px) {
  .mob-hidden {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .tablet-desc-hidden {
    display: none !important;
  }
}
.container {
  width: calc(100% - 128px);
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

@media (max-width: 767px) {
  .container {
    width: calc(100% - 34px);
  }
}
.supheader {
  padding: 12px 16px 6px;
  background-color: #F0F1F1;
  font-size: 9px;
  text-transform: uppercase;
  margin: 0 auto;
}
.supheader h1 {
  text-align: center;
}

.header {
  width: 100%;
  padding: 36px 0;
  border-bottom: 1px solid #8C95A2;
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 116px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 44px;
}
.header__logo p {
  font-size: 10px;
  font-weight: 800;
}
.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.header__tel p {
  font-weight: 800;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.nav {
  z-index: 99;
  margin-top: 25px;
}
.nav__items {
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-burger {
  background-color: #D9D9D9;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  height: 38px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  -webkit-transition: margin-right 0.3s;
  transition: margin-right 0.3s;
  width: 38px;
  z-index: 100;
}
.nav-burger .burger-pic {
  /* position: absolute; */
  position: absolute;
  top: calc(50% - 1px);
  right: calc(50% - 7px);
  height: 2px;
  width: 14px;
  border-radius: 14px;
  background-color: #62666C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav-burger .burger-pic::before {
  content: "";
  position: absolute;
  top: calc(50% + 4px);
  right: calc(50% - 7px);
  height: 2px;
  width: 14px;
  border-radius: 14px;
  background-color: #62666C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav-burger .burger-pic::after {
  content: "";
  position: absolute;
  top: calc(50% - 6px);
  right: calc(50% - 7px);
  height: 2px;
  width: 14px;
  border-radius: 14px;
  background-color: #62666C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 1300px) {
  .header__contacts {
    gap: 50px;
  }
}
@media (max-width: 992px) {
  .header__contacts {
    gap: 11px;
  }
  .header__logo {
    gap: 23px;
  }
  .header__logo p {
    width: 101px;
    font-size: 8px;
  }
  .header__tel p {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .header {
    border-bottom: none;
    padding: 16px 0;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100% !important;
    padding: 47px 16px 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* gap: 65px; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    -webkit-transform: translateX(120vw);
            transform: translateX(120vw);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #fff;
  }
  .nav--active {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    /* display: block; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .nav__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .nav__header a img {
    width: 38px;
  }
  .nav__body {
    margin: 35px 0 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 330px;
  }
  .nav__body a {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
  }
  .nav__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    gap: 21px;
  }
  .nav-burger .burger-pic--open {
    background: transparent;
  }
  .nav-burger .burger-pic--open::before {
    -webkit-transform: rotateZ(45deg) scaleX(1.35) translate(-2px, -4px);
            transform: rotateZ(45deg) scaleX(1.35) translate(-2px, -4px);
  }
  .nav-burger .burger-pic--open::after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.35) translate(-2.5px, 4px);
            transform: rotateZ(-45deg) scaleX(1.35) translate(-2.5px, 4px);
  }
}
@media (max-width: 340px) {
  .supheader {
    font-size: 8px;
  }
}
.promo {
  /*     height: 100vh; */
  padding: 24px 0 79px;
}

.promo-wrapper {
  overflow: hidden;
}

.main-slider {
  position: relative;
  /*     &__wrapper {

      } */
}
.main-slider__slide {
  position: relative;
  overflow: hidden;
}
.main-slider__slide .slide__border {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 55px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 535px;
  height: 216px;
}
.main-slider__slide .slide__border .slide__text {
  padding-left: 10%;
  padding-right: 25%;
  font-size: 29px;
  font-weight: 800;
}
.main-slider__slide .slide__img {
  border-radius: 20px;
  min-height: 405px;
}
.main-slider__buttons-wrapper {
  position: absolute !important;
  width: 110px !important;
  right: 50px !important;
  bottom: 7.4285714286% !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.main-slider__button-prev,
.main-slider__button-next {
  background-color: #BED730;
  background-image: url("../../../assets/img/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}

.main-slider__button-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.second-slider {
  margin-top: 40px;
}
.second-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.second-slider__slide {
  width: 100%;
  padding: 44px 41px 38px 40px;
  max-width: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.second-slider__slide:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.second-slider__slide--active {
  background-color: #BED730;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.second-slider__slide .slide__txt {
  max-width: 166px;
}
.second-slider__slide .slide__txt__title {
  /* max-width: 166px; */
  font-weight: 800;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.second-slider__slide .slide__txt__desc {
  margin-top: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.second-slider__slide .slide__img {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .main-slider__slide .slide__img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-slider__slide .slide__border {
    right: 24px;
    height: 162px;
    width: 399px;
  }
  .main-slider__slide .slide__border .slide__text {
    max-width: 314px;
    font-size: 24px;
  }
  .main-slider__buttons-wrapper {
    right: 24px;
  }
  .second-slider {
    margin-top: 24px;
  }
  .second-slider__slide {
    width: 100%;
    padding: 40px 36px 32px 36px;
    max-width: 256px;
  }
}
@media (max-width: 767px) {
  .promo {
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .main-slider__slide .slide__img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-slider__slide .slide__border {
    right: 20px;
    width: 223px;
    height: 127px;
  }
  .main-slider__slide .slide__border .slide__text {
    max-width: 173px;
    font-size: 16px;
  }
  .main-slider__buttons-wrapper {
    right: 20px;
  }
  .second-slider {
    margin-top: 21px;
  }
  .second-slider__slide {
    width: 100%;
    padding: 25px 24px;
    max-width: 211px;
  }
}
.about {
  background-color: #F2F2F2;
  padding: 98px 0 65px;
  background-image: url("../../../assets/img/coloring_bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center bottom;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.about-header {
  /*     display: flex;
      flex-direction: row;
      justify-content: space-between; */
}
.about-header__title {
  position: relative;
  width: 387px;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
}
.about-header__title::before {
  content: "О компании";
  position: absolute;
  top: -36px;
  font-weight: 800;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.3);
}
.about-header__title::after {
  content: "";
  position: absolute;
  left: 110px;
  top: -34px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #BED730;
}

.qualities {
  width: 100%;
  max-width: 692px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 167px;
}
.qualities__descr {
  max-width: 692px;
  font-size: 16px;
  line-height: 26px;
}
.qualities__descr span {
  color: #BED730;
  font-weight: 800;
}
.qualities__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
  max-width: 100%;
}
.qualities__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 692px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
  border-radius: 11px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.qualities__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 50px solid #BED730;
  border-right: 50px solid transparent;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.qualities__item:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.qualities__text {
  padding: 33px 20px 27px 81px;
}
.qualities__text h3 {
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
}
.qualities__text p {
  margin-top: 14px;
  max-width: 523px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.managers {
  padding: 66px 0 60px 0;
}
.managers__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.manager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 44px 34px 90px 30px;
  width: 100%;
  max-width: 387px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.manager:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.manager-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.manager-upper__photo {
  max-height: 109px;
  width: auto;
}
.manager-upper__name {
  margin-top: 21px;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.manager-upper__post {
  margin-top: 8px;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.4);
  text-transform: lowercase;
}
.manager-downer {
  margin-top: 34px;
  text-align: center;
}

body {
  font-family: "TTNormsPro-Regular", sans-serif;
  background-color: #FAFAFA;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}/*# sourceMappingURL=style.css.map */