@import 'reset';
@import 'vars';
@import 'buttons';
@import 'common';
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/promo';

body {
    font-family: "TTNormsPro-Regular", sans-serif;
    background-color: #fff;
    font-size: 16px;
    overflow-x: hidden;
    box-sizing: border-box;
    outline: none;
}