.video {
    padding: 119px 0 105px;
    &__title {
        position: relative;
        width: 387px;
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
        &::before {
            content: "Видео";
            position: absolute;
            top: -44px;
            font-weight: 800;
            font-size: 12px;
            line-height: 17px;
            text-transform: uppercase;
            color: rgba(51, 51, 51, 0.3);
        }
        &::after {
            content: "";
            position: absolute;
            left: 70px;
            top: -42px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $green;
        }
    }
    &__container {
        position: relative;
        overflow-x: hidden;
        border-radius: 20px;
        background-color: #000;
    }
    &__wrapper {
        width: 100%;
        height: fit-content;
    }
    &__content {
        display: block;
        max-height: 637px;
    }
}


@media(max-width: 768px) {
    .video {
        padding: 83px 0 84px 0;
    }
    .video__buttons-wrapper {
        right: 50% !important;
        transform: translateX(50%);
        bottom: 45px !important;
    }
}